@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
#root{
    margin-top:10px;
    font-family: 'Titillium Web', sans-serif;
}
#container{
    display:flex;
    justify-content:center;
    padding:10px;
}
#timer{
    text-align: center;
    width:400px;
    margin-top:100px;
}
.clock{
    display:flex;
    justify-content:center;
    width:100%;
}
.min{
    font-size: 10em;
    font-weight: 700;
   
}
.msec{
    font-size:2em;
}
.btn-control{
    background-color:transparent;
    margin:5px;
    opacity:0.7;
    width:100px;
    height:50px;
    border-radius:10px;
    font-size:20px;
}
.reset{
    background-color:transparent;
    margin:5px;
    opacity:0.4;
    width:100px;
    height:50px;
    border-radius:10px;
    font-size:20px;
}
.period{
    font-size:2em;
}